<div class="container body-content">
    <div class="row-row">
        <div class="col-md-12">
            <article>
                <header class="top-header">
                    <div class="image">
                        <img src="{{link}}" alt="">
                    </div>
                    <h2>{{title}}</h2>
                    <h4>{{this.publicationType}}</h4>
                </header>
                <p class="details">
                    {{content}}
                </p>

                <small class="author">
                    {{this.User.fullName}}
                </small>
                <small class="time">
                    {{this.date}}
                </small>
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>
</div>